* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #6f3019;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-image: url('img/desert.png');
    background-size: cover;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.start-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 9%;
    padding: 11px;
    font-size: 33px;
    background-color: #fcd94b;
    border-radius: 10px;
    color: #6f3019;
}

.start-wrapper {
    max-width: 100%;
    position: absolute;
    z-index: 999;
}

.start-wrapper img {
    max-width: 100%;
}

.top-mobile-btn-nav {
    position: absolute;
    width: 100%;
    top: 0%;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}

.top-mobile-btn-nav button {
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: #fcd94b;
    border-radius: 10px;
    color: #6f3019;
}

.bottom-mobile-btn-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0%;
    z-index: 100;
}


.btn-bottom {
    margin-left: 20px;
    margin-right: 20px;
}

.btn-bottom img {
    width: 60px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    background-color: #f9cc48;
    opacity: .8;
    margin: 10px;
}

.canvas {
    position: absolute;
    z-index: 1;
    display: block;
}

@media only screen and (max-width: 720px) {
    .canvas #you-won-wrapper #you-won-wrapper-background .game-over-wrapper .game-over-wrapper img {
        width: 100%;
    }
}

@media only screen and (max-heigth: 480px) {
    .canvas #you-won-wrapper #you-won-wrapper-background .game-over-wrapper .game-over-wrapper img {
        height: 100dvh;
        width: 100%;
    }
}

#you-won-wrapper {
    position: absolute;
    font-size: 100px;
    color: #f9cc48;
    text-align: center;
}

#you-won-wrapper-background {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 720px;
    height: 480px;
}

#game-info-background {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 720px;
    height: 480px;
}

#game-info {
    position: absolute;
    font-size: 40px;
    color: white;
}

#game-over-wrapper {
    position: absolute;
}

.game-over-wrapper img {
    z-index: 100;
    width: 720px;
    height: 480px;
}

canvas {
    background-color: black;
    z-index: 5;
    margin-top: 100px;
    margin: 0;
}

.d-none {
    display: none;
}


@media (max-width: 720px) {
    button {
        font-size: 18px !important;
    }

    canvas {
        width: 100dvw;
        height: 100dvh;
    }
}

@media (max-width: 531px) {
    button {
        font-size: 15px !important;
    }
}

@media (max-width: 454px) {
    button {
        font-size: 12px !important;
    }
}

@media (max-width: 377px) {
    button {
        font-size: 10px !important;
    }

    .start-button{
        top: 5%;
    }
}

@media (max-height: 488px) {
    
    .start-wrapper img {
        width: 100%;
    }

    canvas {
        max-height: 100vh;
    }

    button {
        top: 50px !important;
    }
}
