body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    background-image: url("img/9.Intro _ Outro Image/Start Screen/Opcion2.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

button {
    margin-top: 50px;
    width: 10%;
    height: 5%;
    font-size: 20px;
    background-color: #fde04c;
    border-radius: 10px;
}

canvas {
    background-color: black;
    margin-top: 100;
}

.show-canvas {
    z-index: 3;
}

.d-none {
    display: none;
}
